@import "vendor/normalize";
@import "vendor/bootstrap-grid";

@import "variables";
@import "mixins";
@import "helpers";

@import "components/typography";
@import "components/buttons";


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}